/* You can add global styles to this file, and also import other style files */
@import 'normalize.css/normalize.css';
@import 'apps/angular-examples/src/styles/app-loading-style';
@import 'apps/angular-examples/src/styles/ws-material-theme';

body,
html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  * {
    box-sizing: border-box;

    &:before,
    &:after {
      box-sizing: border-box;
    }
  }
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
