@use 'variables';

:host {
  height: 100%;
  display: block;

  .page-grid {
    display: grid;
    grid-template-rows: variables.$main-toolbar-height 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'footer';
    height: 100%;

    app-main-toolbar {
      grid-area: header;
    }
  }

  .page-content {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
  }

  .content-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'content';

    router-outlet {
      display: none;
      width: 0;
      height: 0;
    }

    router-outlet + * {
      grid-area: content;
      background-color: red;
    }
  }

  @media (max-width: 600px) {
    .page-grid {
      grid-template-rows: variables.$main-toolbar-height__small 1fr;
    }

    .page-content {
      margin: 0;
    }
  }
}
