@import 'apps/angular-examples/src/styles/variables';

:host {
  height: 100%;
  display: block;
}

.navigationSidenav {
  max-width: 300px;
}

.pageGrid {
  display: grid;
  grid-template-rows: $main-toolbar-height 1fr;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-areas: 'header' 'main';
  height: 100%;
  min-height: 100vh;
  grid-gap: 1rem;
}

app-main-toolbar {
  height: $main-toolbar-height;
  grid-area: header;
}

.page-content {
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1rem;
}

@media (max-width: 600px) {
  .pageGrid {
    grid-template-rows: $main-toolbar-height__small 1fr;
  }

  app-main-toolbar {
    height: $main-toolbar-height__small;
  }
  .page-content {
    margin: 0;
    overflow-x: hidden;
  }
}

.mat-drawer-content {
  overflow: hidden;
}
