:host {
  height: 100%;

  .thanos-container {
    height: 100%;
  }

  .technologyCard {
    cursor: pointer;
    padding-bottom: 1.5rem;

    .tech-image {
      width: 300px;
      height: 160px;
      padding: 0.5rem;
    }
  }
}
