:host {
  height: 100%;

  .thanos-container {
    height: 100%;
  }

  .technologyCard {
    max-width: 300px;
    min-width: 200px;
    cursor: pointer;
    height: 100%;
    padding-bottom: 1.5rem;

    .tech-image {
      object-fit: contain;
    }
  }
}
