# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/distS3
/tmp
/out-tsc

# test reports
/test-reports

# dependencies
/node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.idea/sonarlint/issuestore/
/.idea/aws.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular


/cdk.out
/cdk.context.json

.nx/cache