@import 'apps/angular-examples/src/styles/variables';
@import '@angular/material/theming';

:host {
  position: relative;

  .hide {
    display: none;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .on-top {
    position: relative;
    z-index: 1;
    pointer-events: all;
  }

  app-service-worker-update {
    margin-right: 0.5rem;
  }

  .sidenav-icon,
  app-login,
  app-service-worker-update,
  .page-title {
    @extend .on-top;
    pointer-events: all;
  }

  .page-title {
    pointer-events: none;
    height: 100%;
    padding: 0.5rem;
  }

  .shader-background {
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: all;
  }
}
