@if (trainingState() !== "stopped") {
  @if (countdown()?.countdownTo; as countdownTo) {
    <div class="next-training-name">
      als Nächstes: {{ countdownTo | trainingName }}
    </div>
  }
  @if (currentInterval(); as current) {
    <span class="mat-title-large">
      {{ current.name | trainingName }}
      @if (trainingState() === "paused") {
        - pausiert
      }
    </span>
    <mat-list class="stats-list">
      <mat-list-item>
        Gesamtzeit:
        {{ current.elapsedTrainingTime | trainingTime }}
      </mat-list-item>
      <mat-list-item>
        Aktuelles Intervall: {{ current.repetitionCount }}/{{
          current.totalRepetitionCount
        }}
      </mat-list-item>
      <mat-list-item>
        Intervallzeit: {{ current.elapsedDuration | trainingTime }} von
        {{ current.duration | trainingTime }}
      </mat-list-item>
      <mat-list-item>
        Noch: {{ current.leftDuration | trainingTime }}
      </mat-list-item>
    </mat-list>
  }
}
