@if (countdown()?.countdownTo; as countdownTo) {
  <div class="next-training-name">
    als Nächstes: {{ countdownTo | trainingName }}
  </div>
}
@if (trainingState() !== "stopped" || trainingState() !== "initial") {
  @if (currentExercise(); as current) {
    <span class="mat-title-large">
      {{ current.name | trainingName }}
      [{{ current.repetitionCount }}/{{ current.totalRepetitionCount }}]
      @if (trainingState() === "paused") {
        - pausiert
      }
    </span>
    <mat-list class="stats-list">
      <mat-list-item>
        Gesamtzeit:
        {{ current.elapsedTrainingTime | trainingTime }}
      </mat-list-item>
      <mat-list-item>
        Intervallzeit: {{ current.elapsedDuration | trainingTime }} von
        {{ current.duration | trainingTime }}
      </mat-list-item>
    </mat-list>
  }
}
