section.page-header {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

h1 {
  background: linear-gradient(to right, #ffc371, #ff5365);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.hero-title {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text-centered {
  text-align: center;
}

img {
  width: clamp(200px, 50%, 300%);
  object-fit: contain;
}
