<main class="main">
  <h1>RollaPolla</h1>
  <mat-card class="text-centered">
    <mat-card-header>
      <mat-card-title-group class="hero-title">
        <mat-card-title>Easy Polling for Everyone!</mat-card-title>
        <mat-card-subtitle>
          Share your opinions and see what others think.
        </mat-card-subtitle>
        <img
          mat-card-image
          class="intro-logo"
          src="/assets/logos/logo.svg"
          alt="Rollapolla logo. A springgreen circle, with text RaP in front"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="text-centered">
      <a
        class="intro-badge"
        target="_blank"
        href="https://twitter.com/rollapolla"
        >Follow along on Twitter</a
      >
      <p class="intro-description" data-testid="coming-soon">Coming Soon!</p>
    </mat-card-content>
  </mat-card>
  <br />
  <rap-notes />
</main>
