h1 {
  background: linear-gradient(to right, #ffc371, #ff5365);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-title {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text-centered {
  text-align: center;
}

img {
  width: 100%;
  object-fit: contain;
}
