<main class="main">
  <mat-card class="centered">
    <mat-card-header>
      <mat-card-title-group class="hero-title">
        <mat-card-title><h1>www.RollaPolla.com</h1></mat-card-title>
        <mat-card-subtitle>Polls for everyone!</mat-card-subtitle>
        <img
          mat-card-image
          class="intro-logo"
          src="/assets/logo.svg"
          alt="Rollapolla logo. A springgreen circle, with text RaP in front"
        />
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="centered-content">
      <a
        class="intro-badge"
        target="_blank"
        href="https://twitter.com/rollapolla"
        >Follow along on Twitter</a
      >
      <p class="intro-description" data-testid="coming-soon">Coming Soon!</p>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title> Leave a note </mat-card-title>
      <mat-card-subtitle>
        Interested in writing easy polls? Leave a note!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="trpc-form" #f="ngForm" (ngSubmit)="addNote(f)">
        <mat-form-field class="example-form-field">
          <mat-label>Your note</mat-label>
          <input
            matInput
            name="newNote"
            type="text"
            placeholder="leave a note"
            [(ngModel)]="newNote"
          />
          @if (newNote) {
            <button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="newNote = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </form>
      @if (notes()) {
        <div class="notes">
          @for (note of notes(); track noteTrackBy; let i = $index) {
            @if (note) {
              <div class="note">
                <div class="note-head">
                  <p class="note-date">{{ note.createdAt | date: "medium" }}</p>
                  <button class="noteDeleteBtn" (click)="removeNote(note.id)">
                    x
                  </button>
                </div>
                <p class="note-note">{{ note.note }}</p>
              </div>
            }
          }
          @if (notes()?.length === 0) {
            <div class="no-notes">
              <h3 class="no-notes-headline">No notes yet!</h3>
              <p class="no-notes-desc">
                Add a new one and see them appear here...
              </p>
            </div>
          }
        </div>
      } @else {
        <ng-template #loading>
          <p class="loading-text">Loading...</p>
        </ng-template>
      }
    </mat-card-content>
  </mat-card>
</main>
