.technology-info-card {
  margin-top: 1rem;
}

.technology-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(125px, 1fr));
  align-items: stretch;
  justify-items: stretch;
  grid-gap: 1rem;
  height: auto;
}




