<mat-card data-qa="sprint-training">
  @let state = trainingState();
  <mat-card-header>
    <mat-card-title>Sprint Training</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (state !== "stopped"; as isStopped) {
      @defer (hydrate on viewport; on viewport) {
        <div class="runner">
          @if (currentInterval(); as interval) {
            <pacetrainer-countdown-circle
              @myInsertRemoveTrigger
              [duration]="interval.duration"
              [timeLeft]="interval.leftDuration"
            />
            <pacetrainer-training-live-state
              [countdown]="countdown()"
              [currentInterval]="interval"
              [trainingState]="state"
            />
          }
        </div>
      } @placeholder {
        <mat-spinner></mat-spinner>
      }
    }
    @if (state === "stopped") {
      <div class="configurator">
        <pacetrainer-sprint-form @myInsertRemoveTrigger />
      </div>
    }
  </mat-card-content>
  <mat-card-actions class="ctas">
    <button
      mat-raised-button
      (click)="toggleTraining()"
      data-qa="toggle-training"
    >
      @switch (state) {
        @case ("stopped") {
          Go Go Go
        }
        @case ("paused") {
          Weiter
        }
        @case ("running") {
          Pausieren
        }
      }
    </button>
    <button
      mat-raised-button
      [disabled]="state === 'stopped'"
      (click)="endTraining()"
      data-qa="stop-training"
    >
      Training beenden
    </button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-content>
    <div class="overview">
      <pacetrainer-sprint-training-overview [open]="state === 'stopped'" />
    </div>
  </mat-card-content>
</mat-card>
