<mat-card data-qa="sprint-training">
  @let state = trainingState();
  @let isInitialOrStopped = state === "stopped" || state === "initial";
  <mat-card-header>
    <mat-card-title>Sprint Training</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (isInitialOrStopped) {
      @if (countdown(); as countdown) {
        <pace-countdown-circle
          @myInsertRemoveTrigger
          [duration]="countdown.countdownTime"
          [timeLeft]="countdown.timeLeft"
        ></pace-countdown-circle>
        <pace-training-live-state
          [countdown]="countdown"
          [trainingState]="state"
        ></pace-training-live-state>
      }
    } @else {
      @defer (hydrate on viewport; on viewport) {
        <div class="runner">
          @if (currentExercise(); as exercise) {
            @if (exercise.duration) {
              <pace-countdown-circle
                @myInsertRemoveTrigger
                [duration]="exercise.duration"
                [timeLeft]="exercise.leftDuration"
              ></pace-countdown-circle>
            }
            <pace-training-live-state
              [countdown]="countdown()"
              [currentExercise]="exercise"
              [trainingState]="state"
            ></pace-training-live-state>
          }
        </div>
      } @placeholder {
        <mat-spinner></mat-spinner>
      }
    }
    @if (isInitialOrStopped) {
      <div class="configurator">
        <pace-sprint-form @myInsertRemoveTrigger></pace-sprint-form>
      </div>
    }
  </mat-card-content>
  <mat-card-actions class="ctas">
    <button
      mat-raised-button
      (click)="toggleTraining()"
      [disabled]="startingTraining()"
      data-qa="toggle-training"
    >
      @switch (state) {
        @case ("stopped") {
          Go Go Go
        }
        @case ("initial") {
          Go Go Go
        }
        @case ("paused") {
          Weiter
        }
        @case ("running") {
          Pausieren
        }
      }
    </button>
    @if (!isInitialOrStopped) {
      <button mat-raised-button (click)="endTraining()" data-qa="stop-training">
        Training beenden
      </button>
    }
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-content>
    <div class="overview">
      <pace-sprint-training-overview
        [open]="isInitialOrStopped"
      ></pace-sprint-training-overview>
    </div>
  </mat-card-content>
</mat-card>
