<div class="about-container">
  <mat-card wsSharedUiElevateCard class="title">
    <mat-card-subtitle>Learning by playing and experimenting!</mat-card-subtitle>
    <mat-card-title> What's this all about?</mat-card-title>
    <mat-card-content>
      <p>
        This site contains a wide range of topics like webGl, AI, science-algorithms.
        It is implemented based on Angular, but integrates a lot of other libraries.<br />
        As a side effect I gain experience with state-of-the-art dev ops stuff.
        Continuous-Integration, -Delivery, -Deployment<br />
        Take a look at the sources on
        <a target="_blank" href="https://github.com/WolfSoko/wol-sok-mono"
          >github.com/WolfSoko</a
        >
        <br />
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card wsSharedUiElevateCard class="description">
    <mat-card-title>Experiments:</mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <app-nav-item
          *ngFor="let route of routerLinks"
          [path]="route.path"
          [linkText]="route.data.linkText"
          (click)="openPage(route.path)"
        >
        </app-nav-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
