<mat-card>
  <mat-card-title>Performance comparisons</mat-card-title>
  <mat-card-subtitle
    >We measure the generation of an {{ arrayItems / 1000000 }} Million numbers
    long array or stream and operations on it.
  </mat-card-subtitle>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
  <mat-action-list *ngIf="(isLoading$ | async) === false; else loading">
    <mat-list-item
      *ngFor="
        let performanceTest of performanceTest$ | async;
        trackBy: trackByPerformanceTestId
      "
      [ngClass]="{
        active: (activePerformanceTest$ | async)?.id === performanceTest.id
      }"
      (click)="startTest(performanceTest)"
    >
      <button mat-icon-button aria-label="run performance test">
        <mat-icon color="accent">fast_forward</mat-icon>
      </button>
      <h4 matLine class="mat-h4">{{ performanceTest.name }}</h4>
      <p matLine class="mat-caption">runs: {{ performanceTest.runs }}</p>
      <p matLine class="mat-caption">
        <span *ngFor="let testResult of performanceTest.result">{{
          testResult[0] + ': ' + testResult[1] + ' ms'
        }}</span>
      </p>
      <mat-progress-bar matLine mode="buffer"> </mat-progress-bar>
    </mat-list-item>
  </mat-action-list>
</mat-card>
