:host {
  display: grid;
  width: fit-content;

  .test-item {
    transition: background-color 300ms ease-out;

    &.active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    span {
      margin-right: 1rem;
    }

    .progress-bar {
      opacity: 0;
      transition: opacity 50ms;
    }

    &.active .progress-bar {
      opacity: 1;
    }
  }
}
