<mat-card class="form">
  <mat-card-header>
    <mat-card-title>Live Chat: </mat-card-title>
    <mat-card-subtitle> Share your thoughts... </mat-card-subtitle>
  </mat-card-header>
  <br />
  <mat-card-content>
    @defer (hydrate on idle; on viewport) {
      <rap-chat-message-form
        [minMessageLength]="minLength()"
        [maxMessageLength]="maxLength()"
        (messageAdded)="addChatMessage($event)"
      ></rap-chat-message-form>
    } @placeholder {
      <mat-spinner></mat-spinner>
    }
  </mat-card-content>
</mat-card>
<mat-card class="notes">
  <mat-card-header>
    <mat-card-title>Messages:</mat-card-title>
  </mat-card-header>
  <br />
  <mat-card-content>
    <rap-messages-list [messages]="chatMessages()"></rap-messages-list>
  </mat-card-content>
</mat-card>
