<mat-card class="form">
  <mat-card-header>
    <mat-card-title> Discover Fun and Engaging Polls! </mat-card-title>
    <mat-card-subtitle style="text-wrap: pretty">
      Share your thoughts on the most captivating polls.
    </mat-card-subtitle>
  </mat-card-header>
  <br />
  <mat-card-content>
    <rap-note-form (noteAdded)="addNote($event)"></rap-note-form>
  </mat-card-content>
</mat-card>
<mat-card class="notes">
  <mat-card-header>
    <mat-card-title>Favorite Polls of Our Users</mat-card-title>
    <mat-card-subtitle class="mat-caption">
      User Opinions and Live Stream
    </mat-card-subtitle>
  </mat-card-header>
  <br />
  <mat-card-content>
    <rap-notes-list [notes]="notes()"></rap-notes-list>
  </mat-card-content>
</mat-card>
