<mat-toolbar
  color="primary"
  role="toolbar"
  id="main-toolbar"
  class="page-title"
>
  <button
    class="sidenav-icon"
    mat-icon-button
    title="main-menu"
    (click)="clickSideNav.emit($event)"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="on-top" [class.hide]="isHandset()">WolSok Coding&nbsp;</span>
  <span class="on-top">Angular Experiments</span>
  <span class="toolbar-spacer"></span>
  @defer (on timer(1s)) {
    <mat-slide-toggle
      color="warn"
      class="on-top"
      (change)="toggleTheme()"
      [checked]="themeMode === 'dark'"
    >
      <span class="mat-subtitle-2">{{ themeMode }} mode</span>
    </mat-slide-toggle>
  }
  @defer (on timer(3s)) {
    <app-service-worker-update [class.hide]="isHandset()" />
  }
  @defer (on timer(2s)) {
    <app-login />
  }
  @if (shaderCode) {
    <div class="shader-background" (wsSharedUiElemResized)="onResize($event)">
      <ws-shared-ui-render-shader
        [shaderCode]="shaderCode"
        [canvasWidth]="shaderWidth"
        [canvasHeight]="shaderHeight"
        [runAnimation]="runAnimation()"
      />
    </div>
  }
</mat-toolbar>
