<mat-toolbar
  color="primary"
  role="toolbar"
  id="main-toolbar"
  class="page-title-toolbar"
>
  <button
    mat-mini-fab
    class="mat-elevation-z6 sidenav-icon"
    color="warn"
    title="main-menu"
    (click)="clickSideNav.emit($event)"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <h1 class="on-top" [class.hide]="isHandset()">
    WolSok Coding&nbsp;-&nbsp;Experiments
  </h1>
  <h1 class="on-top" [class.hide]="!isHandset()">WolSok`s Experiments</h1>
  <span class="toolbar-spacer"></span>
  @defer (on timer(1s)) {
    <mat-slide-toggle
      color="warn"
      class="on-top"
      (change)="toggleTheme()"
      [checked]="themeMode === 'dark'"
    >
      <span class="mat-subtitle-2" style="color: black"
        >{{ themeMode }} mode</span
      >
    </mat-slide-toggle>
  }
  @defer (on timer(3s)) {
    <app-service-worker-update [class.hide]="isHandset()" />
  }
  @defer (on timer(2s)) {
    <app-login class="login" />
  }
  @if (shaderCode) {
    <div class="shader-background" (wsSharedUiElemResized)="onResize($event)">
      <ws-shared-ui-render-shader
        [shaderCode]="shaderCode"
        [canvasWidth]="shaderWidth"
        [canvasHeight]="shaderHeight"
        [runAnimation]="runAnimation()"
      />
    </div>
  }
</mat-toolbar>
