<div class="perceptronsContainer">
  <app-data-view [canvasWidth]="width" [canvasHeight]="height" [perceptron]="outputPerceptron"
                 [points]="points"
                 (dataViewClicked)="addPoint($event)" [showLinearDivider]="false"></app-data-view>
  <mat-card appearance="outlined" class="inputLayer">
    <mat-card-subtitle>Input layer</mat-card-subtitle>
    <mat-card-content>
      <div>Learnrate: {{learnRate}}, learned data points: {{learnedDataPoints}}</div>
      <ng-container *ngFor="let perceptron of inputPerceptrons">
        <app-perceptron [perceptron]="perceptron" [canvasWidth]="200" [canvasHeight]="200"></app-perceptron>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="hiddenLayer">
    <mat-card-subtitle>Hidden layer</mat-card-subtitle>
    <mat-card-content>
      <div>Learnrate: {{learnRate}}, learned data points: {{learnedDataPoints}}</div>
      <ng-container *ngFor="let perceptron of hiddenPerceptrons">
        <app-perceptron [perceptron]="perceptron" [canvasWidth]="200" [canvasHeight]="200"></app-perceptron>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="outputLayer">
    <mat-card-subtitle>Output layer</mat-card-subtitle>
    <mat-card-content>
      <app-perceptron [perceptron]="outputPerceptron" [canvasWidth]="200" [canvasHeight]="200"></app-perceptron>
    </mat-card-content>
  </mat-card>
  <app-brain-settings [perceptronLayers]="perceptronsPerLayer"></app-brain-settings>
</div>
