<div class="about-container">
  <mat-card wsSharedUiElevateCard class="title">
    <mat-card-title>
      What's this all about?
    </mat-card-title>
    <mat-card-subtitle>
      Playing with technology!
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        To gain experience in topics like webGl, AI, science-algorithms and angular development
        I am implementing different examples.<br />
        Take a look at the sources on <a target="_blank" href="https://github.com/SuperheroicCoding/AngularExamples">github.com</a>
        <br />
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card wsSharedUiElevateCard class="description">
    <mat-card-title>
      Angular Examples:
    </mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <app-nav-item *ngFor="let route of routerLinks"
                      [path]="route.path"
                      [linkText]="route.data.linkText"
                      (click)="openPage(route.path)">
        </app-nav-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
