<mat-sidenav-container [hasBackdrop]="hasBackdrop()" [autosize]="true">
  <mat-sidenav [opened]="showSidebar()" [mode]="mode()">
    <nav class="navigation-sidenav">
      <mat-nav-list>
        @for (route of routerLinks; track route) {
          @defer (when showSidebar()) {
            <app-nav-item
              (click)="close()"
              [linkText]="route.data.linkText"
              [subTitle]="route.data.subTitle"
              [path]="route.path"
            />
          }
        }
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  <ng-content />
</mat-sidenav-container>
