<mat-card appRaiseCard class="gpu-card">
  <mat-card-title>
    <div mat-card-avatar class="gpu-header-image"></div>
    <mat-card-title>An example utilizing gpu.js</mat-card-title>
    <mat-card-subtitle>No complicated shader code needed for this</mat-card-subtitle>
  </mat-card-title>
  <div class="canvas-container">
    <canvas class="full-height" [style.oppacitiy]="additionForm.get('useGPU')?.value ? 1: 0" #gpuCanvas></canvas>
    <canvas class="full-height" [style.oppacity]="additionForm.get('useGPU')?.value ? 0: 1" #gpu2dCanvas></canvas>
  </div>
  <div>Calculation time with {{additionForm.get('useGPU')?.value ? 'GPU' : 'CPU'}} : {{(calculationTime$ | async)}}ms
  </div>
  <mat-card-content>
    <form class="gpu-form" [formGroup]="additionForm" novalidate>
      <div class="full-width">
        <span>Red</span>
        <mat-slider class="red-color-slider"
                    thumbLabel="true"
                    min="0"
                    max="255"
                    color="warn"
                    formControlName="r">
        </mat-slider>
        <mat-chip color="warn">{{additionForm.get('r')?.value}}</mat-chip>
      </div>
      <div class="full-width">
        <span>Green</span>
        <mat-slider class="green-color-slider"
                    thumb-label="true"
                    min="0"
                    max="255"
                    color="warn"
                    formControlName="g">
        </mat-slider>
        <mat-chip color="warn">{{additionForm.get('g')?.value}}</mat-chip>
      </div>
      <div class="full-width">
        <span>Blue</span>
        <mat-slider class="blue-color-slider"
                    thumb-label="true"
                    min="0"
                    max="255"
                    color="warn"
                    formControlName="b">
        </mat-slider>
        <mat-chip color="warn">{{additionForm.get('b')?.value}}</mat-chip>
      </div>
      <div class="full-width">
        <span>Repeatition</span>
        <mat-slider
          thumb-label="true"
          min="1"
          max="100"
          formControlName="repetition">
        </mat-slider>
        <mat-chip color="accent">{{additionForm.get('repetition')?.value}}</mat-chip>
      </div>
      <div class="full-width">
        <span>Speed</span>
        <mat-slider
          thumb-label="true"
          min="1"
          max="100"
          formControlName="speed">
        </mat-slider>
        <mat-chip color="accent">{{additionForm.get('speed')?.value}}%</mat-chip>
      </div>
      <mat-slide-toggle formControlName="useGPU">
        {{additionForm.get('useGPU')?.value ? 'GPU is used' : 'GPU is not used' }}
      </mat-slide-toggle>
    </form>
  </mat-card-content>
</mat-card>

