:host {
  .base-timer {
    position: relative;
    height: 200px;
    width: 200px;

    &-circle {
      fill: none;
      stroke: none;
    }

    &-stroke {
      stroke-width: 1px;
      stroke: grey;
    }

    &-completed {
      stroke: #88b462;
      stroke-width: 1px;
    }

    .time {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;

      img {
        height: 80px;
      }
    }

    #remaining-time-stroke {
      stroke-width: 2px;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 100ms ease-in all;
      stroke: #1cbbf8;
    }

    .base-timer-svg {
      transform: scaleX(-1);
    }
  }
}
